* {
    box-sizing: border-box;
}

body, html, select, input, button {
    font-size: 16px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

button {
    background: transparent;
    border: 1px solid transparent;
    margin: 1em;
    padding: .3em;
    padding-bottom: .1em;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
}

button.text {
    padding-bottom: .3em;
}

button:active {
    color: dodgerblue;
    border: 1px solid #ddd;
}

.pressed {
    color: dodgerblue;
    border: 1px solid #ddd;
}

.editor {
    min-height: 100px;
    border: 1px solid #ddd;
    border-top: 0;
    padding: .5em;
}

.container {
    max-width: 1024px;
    padding: 1em;
    margin: 0 auto;
}

.linkinput {
    outline: none;
}

.toolbar-left,
.tooblar-right {
    display: flex;
    align-items: center;
}

.linkinputwrap {
    display: flex;
    align-content: center;
}

.linkinputwrap:before {
    content: 'link';
    font-family: 'Material Icons';
    display: inline-block;
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin-right: .3em;
}
